b{
    font-size:23px;
    color:blue;
}

img{
    opacity:1;
    width:80px;
    margin: 10px 5px 5px 10px;
}

.dado12{margin-left:36%; margin-left:150px; width:150px; height:150px;}
.operacion{margin-left:20%;}